:root {
  color-scheme: light dark;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(180, 215, 255),
    rgb(229, 180, 255),
    rgb(180, 215, 255)
  );
  padding: 3rem 2rem;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #343434;
}

.form {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.search-bar {
  padding: 0.7rem 1rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 0.5rem 0.3rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  list-style: none;
  margin: 0 auto;
  border-radius: 0.3rem;
  padding: 0;
}

.suggestions-list li {
  list-style-type: none;
  padding: 0.7rem 0.5rem;
  cursor: pointer;
  border-bottom: #545353 0.1rem solid;
}

.lyrics-container {
  margin: 0 auto;
  max-width: 600px;
  padding: 1.5rem;
  text-align: center;
}

.lyrics-container pre {
  line-height: 1.6;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: linear-gradient(
      to right,
      rgb(72, 60, 130),
      rgb(114, 71, 137),
      rgb(143, 65, 143)
    );
  }

  h1 {
    color: aliceblue;
  }

  .search-bar {
    background: #585858;
    color: rgb(240, 248, 255);
  }

  .search-bar::placeholder {
    color: rgb(240, 248, 255);
  }

  .suggestions-list {
    background: #585858;
  }

  .suggestions-list li {
    border-bottom: #9c9c9c 0.1rem solid;
  }

  .lyrics-container pre {
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.9);
  }
}
